.section-heading,
#discipline-selector {
    display: inline-block;
    float: none;
    margin: 0;
}

.section-heading {
    margin-bottom: 50px;
    font-weight: 600;
}

#discipline-selector {
    margin-left: 15px;
}

.number-box,
.fa {
    font-size: 30px;
    font-weight: 500;
}

.fa {
    margin-right: 10px;
}

.custom-chart {
    margin-top: 30px;
    margin-bottom: 30px;
}

.section {
    border-bottom: 1px solid #e6e6e6;
    padding: 30px 0;
    margin-top: 20px;
}

.section-paragraph {
    line-height: 1.2;
    margin-bottom: 20px;
}